.admin_panel{
    border: 1px solid #999;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    padding: 15px;
    color: var(--text_color);
}

.admin_panel a{
    display: block;
    margin-bottom: 1em;
}