.list-group-item, .active, .nav{
    background: transparent;
}

.list-group-item:not(:last-child)::after{
    content: "";
    position: relative;
    height: 1px;
    background: #214646;
    display: block;
    width: 100%;
}

.collumn{
    background: var(--nav_back_hover);
    padding: 1em;
    border-radius: 8px;
}

.nav{
    gap: 1em;
}

.dark{
    background: var(--background);
}

.nav-link{
    background: var(--nav_back);
    border: none;
}

.nav-link:focus, .nav .active{
    background-color: var(--accent-color) !important;
}

.d-flex{
    gap: 3em;
}

/* From cssbuttons.io by @ernestnash */
.fancy {
    display: inline-block;
    padding: 0.3rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid var(--accent-color);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .fancy::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--nav_back);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .fancy:hover::before {
    transform: translateX(0);
   }