@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --background : #131619;
    --gradient1 : linear-gradient(red, orange, yellow, green, blue);
    --nav_back : #0C1013;
    --text_color : #F0F0F0;
    --nav_back_hover : #1f2931;
    --font: 'Open Sans', sans-serif;
    --link_color : var(--text_color);
    --text-size : 1.5em;
    --title-size : 3em;
    --accent-color: #b22222;
    --text_second_color: rgb(255, 255, 255);
    --news_color: var(--nav_back_hover);
    --text-second-color: #666;
  }

*{
    font-family: var(--font);
    color: var(--text_color);
}

body{
  background: fixed;
  background-size: auto;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1213%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(19%2c 22%2c 25%2c 1)'%3e%3c/rect%3e%3cpath d='M90 1080L1170 0L1843.5 0L763.5 1080z' fill='url(%23SvgjsLinearGradient1214)'%3e%3c/path%3e%3cpath d='M730.6 1080L1810.6 0L2310.1 0L1230.1 1080z' fill='url(%23SvgjsLinearGradient1214)'%3e%3c/path%3e%3cpath d='M1802 1080L722 0L608 0L1688 1080z' fill='url(%23SvgjsLinearGradient1215)'%3e%3c/path%3e%3cpath d='M1236.4 1080L156.4000000000001 0L-4.099999999999909 0L1075.9 1080z' fill='url(%23SvgjsLinearGradient1215)'%3e%3c/path%3e%3cpath d='M920.9876480256733 1080L1920 80.98764802567325L1920 1080z' fill='url(%23SvgjsLinearGradient1214)'%3e%3c/path%3e%3cpath d='M0 1080L999.0123519743267 1080L 0 80.98764802567325z' fill='url(%23SvgjsLinearGradient1215)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1213'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1214'%3e%3cstop stop-color='rgba(178%2c 34%2c 34%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(178%2c 34%2c 34%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1215'%3e%3cstop stop-color='rgba(178%2c 34%2c 34%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(178%2c 34%2c 34%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.alerts{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

pre{
  margin-bottom: 0;
}

blockquote{
  padding: 1.5em 2.5em;
  margin: 0 0 1.5em;
  max-width: calc(45rem);
}

pre code{
  color: #e83e8c;
}

.alert-success{
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  background: var(--nav_back);
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background: var(--accent-color);
}

a:-webkit-any-link{
  color: var(--link_color);
  transition: 0.3s;
}

::-webkit-resizer, .accent {
  background: var(--accent-color);
}

hr{
  background: #214646;
}

footer{
  margin-top: 3em;
  background: var(--background);
}

.minheight{
  min-height: 100vh;
}

.favlogo{
  width: 32px;
  height: 32px;
}