.navbar{
    background: var(--nav_back);
    box-shadow: 0 0 19px 2px rgba(0,0,0,.91);
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.navbar a{
    color: var(--text_color);
    text-decoration: none;
}

.navbar a:hover{
    opacity: 0.8;
}

.nav-search, .nav-search:focus{
    box-sizing: border-box;
    background: var(--nav_back_hover);
    border: 0.1em solid var(--nav_back_hover);
}

.nav-search:focus{
    border-color: var(--accent-color);
    box-shadow: none;
}

#search-btn:hover{
    opacity: 0.5;
}

.navbar-toggler{
    color: var(--accent-color);
}

.search_btn{
    width: 38px;
    height: 38px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none!important;
    cursor: pointer;
    display: inline;
    background: var(--accent-color);
}

#search{
    border-radius: 0;
}

.search_btn img{
    width: 20px;
    height: 20px;
    fill: #5a6674;
}

.nav-item a::after{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #900020, #B00000);
    transition: 1s;
}

.nav-item:hover a::after{
    width: 100%;
}