.news{
    max-width: 1200px;
    margin: auto;
}

.news_title{
    height: 60px;
    font-weight: 700;
    font-size: 24px;
    width: 100%;
    background: var(--news_color);
    display: flex;
    align-items: center;
    border-radius: 16px;
}

.news_inner{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: var(--news_color);
    margin-top: 20px;
    border-radius: 16px;
    width: 100%;
}

.post_in{
    padding: 20px;
}

.post:not(:last-child):after{
    content: "";
    position: relative;
    height: 1px;
    background: #214646;
    display: block;
    width: 100%;
}

.post_in{
    display: flex;
}


.post_media{
    display: flex;
    justify-content: flex-start;
}

.news_flaticon{
    margin-left: 8px;
    height: 19px;
    width: 19px;
}

.post_{
    margin: 0px 19px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.post_ :nth-child(1n):not(:last-child){
    margin-bottom: 19px;
}

.news_title_in{
    margin-left: 40px;
    color: var(--text_color);
}

.post_content, .post_timestamp, .post_views{
    color: var(--text_color);
}

.post_img{
    margin-bottom: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 7px;
}

.post_title a{
    color: var(--text_color);
    font-weight: 600;
    font-size: 18px;
}

.post_title a:hover{
    color: red;
}


.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background: var(--nav_back_hover);
}

.p_link{
    display: inline-block;
    font-size: 1.3em;
    color: var(--text_color);
}

.p_link span:hover{
    background: rgba(255, 0, 0, 0.6);
    border-radius: 3px;
}

.active{
    background: red;
    border-radius: 3px;
    color : white;
}

.p_link span, .active span{
    width: 100%;
    height: 100%;
    padding: 0px 0.3em;
}

.icon{
    height: 20px;
    width: 20px;
    position: relative;
    margin: 5px;
}

@media screen and (max-width : 800px){

    .post_in{
        flex-direction: column;
        align-items: center;
    }
}

.page{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

.page_ctx{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: var(--news_color);
    margin-top: 20px;
    border-radius: 16px;
    width: 100%;
    padding: 0px 40px;
    color: var(--text_color);
}

.page_media{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.page_title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
}

.news_flaticon{
    height: 19px;
    width: 19px;
    margin-left: 8px;
}

.page_content{
    margin: 20px 0;
}

.post_content img{
    display: none;
}

.cont{
    margin-top: 3em;
}

.post{
    max-height: 400px;
    overflow: hidden;
}

.learn_more_container{
    margin-top: 1em;
}

a.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   a.learn-more {
    width: 12rem;
    height: auto;
    background: var(--background);
    border-radius: 1.625rem;
   }
   
   a.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--nav_back);
    border-radius: 1.625rem;
   }
   
   a.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   a.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   a.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   a.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
   
    color: var(--text_color);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   a.learn-more:hover .circle {
    width: 100%;
   }
   
   a.learn-more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   a.learn-more:hover .button-text {
    color: var(--text_color);
   }