{% extends 'dashboard/base.html' %}
{% load static %}
{% load markdownify %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/page.css' %}">
<link rel="stylesheet" href="{% static 'css/commands.css' %}">
{% endblock links %}
{% block content %}
<div class="page">
    <div class="page_background">
        <div class="page_content">
            <div class="page_content" id="body_view">
              <div class="container">
                  <h1 class="display-3">Команды</h1>
                  <p class="lead"><p><code>
                    [] - обязательный параметр; () - необязательный параметр; @пользователь - упоминание пользователя; | - или</code></p></p>
                  <hr>
                  <section id="commands">
                    <div class="d-flex align-items-start">
                        <div class="collumn">
                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#casino" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Казино</button>
                                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#fishing" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Рыбалка</button>
                                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#shopp" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Магазин</button>
                                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#user" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Пользовательское</button>
                              </div>
                        </div>
                        <div class="tab-content collumn" id="v-pills-tabContent">
                          {% for category in categories %}
                          <div class="tab-pane fade" id="{{category.1}}" role="tabpanel" aria-labelledby="{{category.1}}">
                            <div class="flex">
                              {% for command in category.0 %}
                              <button class="fancy" type="button" data-toggle="collapse" data-target="#{{command.name}}" aria-expanded="false" aria-controls="{{command.name}}">
                                {{command.name}}
                                {% if admin %}
                                <a href="{{ command.get_update_url }}">Обновить</a>
                                <a href="{{ command.get_delete_url }}">удалить</a>
                                {% endif %}
                              </button>
                              <div class="collapse" id="{{command.name}}">
                                <div class="flex information">
                                  <div class="usage">
                                    <p>Использование:</p>
                                    <code>{{command.usage}}</code>
                                  </div>
                                  <div class="example">
                                    <p>Пример:</p>
                                    <code>{{command.example}}</code>
                                  </div>
                                  {% if command.dop %}
                                  <div class="dop">
                                    <p>Дополнительно:</p>
                                    {{command.dop}}
                                  </div>
                                  {% endif %}
                                </div>
                              </div>
                              {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                      </div>
                  </section>
              </div>
            </div>
        </div>
    </div>
</div>
<script>
  document.getElementById('casino').classList.add('show')
  document.getElementById('casino').classList.add('active')
</script>
{% endblock content %}