<div class="pre">
    <div class="titl">
        {{form.errors}}
        <strong>Команда</strong>
        <div>
            {{form.name}}
        </div>
    </div>
    <div class="image">
        <strong>Использование</strong>
        <div>
            {{form.usage}}
        </div>
    </div>
    <div class="slug">
        <strong>Пример</strong>
        <div>
            {{form.example}}
        </div>
    </div>
    <div class="dop">
        <strong>Доп инфа | markdown</strong>
        <div>
            {{form.dop}}
        </div>
    </div>
    <div class="category">
        <strong>Категория (casino | fishing | shopp | user | administration)</strong>
        <div>
            {{form.category}}
        </div>
    </div>
</div>
<div class="btn2">
    <button type="submit" class="btn_container">
        <span>Подтвердить</span>
    </button>
</div>